<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8009482651-4jqv388plc4i1q9fnl0bgfft6qom5c9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8009482651-4jqv388plc4i1q9fnl0bgfft6qom5c9e</string>
	<key>API_KEY</key>
	<string>AIzaSyAOaCxojixoMi_igLgs8d8H7DnHzI2Hfls</string>
	<key>GCM_SENDER_ID</key>
	<string>8009482651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaja.voiceshare</string>
	<key>PROJECT_ID</key>
	<string>jaja-cf083</string>
	<key>STORAGE_BUCKET</key>
	<string>jaja-cf083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8009482651:ios:659e63f1ee85591740a13e</string>
</dict>
</plist>